<h1>New Entry</h1>

<% if @place %>
  <form action="/entries" method="post">
    <input type="hidden" name="place_id" value="<%= @place["id"] %>">

    <p>
      <label>Title</label>
      <input type="text" name="title">
    </p>

    <p>
      <label>Description</label>
      <input type="text" name="description">
    </p>

    <p>
      <label>Occurred On</label>
      <input type="date" name="occurred_on">
    </p>

    <button>Save</button>
  </form>
<% else %>
  <p>You cannot add an entry here.</p>
<% end %>
