<h1>Your Places</h1>

<ul>
  <% if @places.any? %>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  <% else %>
    <p>You haven't added any places yet.</p>
  <% end %>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>
